.journal-wrapper {
    padding: 20px;
  }
  
  .journal {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header-content-journal h4 {
    color: #007bff;
  }
  
  #journalEntry {
    resize: vertical;
  }
  
  #journalHistory {
    max-height: 400px;
    overflow-y: auto;
  }
  
  #journalHistory .list-group-item {
    margin-bottom: 10px;
  }
  
  #journalHistory .list-group-item strong {
    display: block;
    margin-bottom: 5px;
    color: #6c757d;
  }
  